<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- transform from map to world -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map_broadcaster" args="0 0 0 0 0 0 1 world map 100" />

    <!-- global pose of spheros -->
    <node ns="sphero_ypw" name="global_pose" pkg="hri_sphero_test" type="global_pose.py" args="--robot_start_pose '[-1,0,0]' --robot_frame sphero_ypw" output="screen"/>
    <node ns="sphero_wrb" name="global_pose" pkg="hri_sphero_test" type="global_pose.py" args="--robot_start_pose '[1,0,0]' --robot_frame sphero_wrb" output="screen"/>

    <!-- social force algorithm -->
    <node name="social_force" pkg="hri_sphero_test" type="social_force.py" output="screen"/>

</launch>
